@media only screen and (max-width: 600px) {
  header {
    background: url(../imgs/catan_movil_details.jpg);
  }
}

.logo-catan {
  width: 15em;
  margin-left: 15em;
}
@media only screen and (max-width: 600px) {
  .logo-catan {
    margin-left: 5.5em;
  }
}

.main-container {
  background: url(../imgs/catan2.jpg);
  width: 100%;
  display: block;
  padding-bottom: 3em;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
@media only screen and (max-width: 600px) {
  .main-container {
    background: none;
  }
}

.text-container {
  width: 65em;
  position: relative;
  background-color: #393939;
  border-radius: 1em;
  padding: 1em 1.5em;
}
@media only screen and (max-width: 600px) {
  .text-container {
    width: 85%;
    padding: 1em 1em;
  }
}

.h1-title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #00D5FF;
  font-size: 1.5em;
}

.big-btn {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #393939;
  background-color: #FF8036;
  margin: 3em 0 1em 0;
  width: 150px;
  height: 60px;
  padding: 13px;
  border-radius: 25px;
}
.big-btn:hover {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  background-color: #fff;
}

.datos-container {
  width: 30em;
  position: relative;
  background-color: #393939;
  border-radius: 1em;
  padding: 2em 7em;
}
@media only screen and (max-width: 600px) {
  .datos-container {
    width: 85%;
    padding: 2em 2em;
  }
}

.datos-text-field {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  border: 3px solid #707070;
  padding-left: 4px;
  width: 15em;
  margin: 3em 0 0 0;
  float: left;
}
.datos-text-field:focus {
  border: 3px solid #00D5FF;
  outline: none;
}

.relacionados-container {
  background: #141414;
}

.torneos-relacionados {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding-top: 1em;
  margin-bottom: 0;
}

.cubierta-emergente {
  background-color: #000;
  opacity: 0.4;
  filter: alpha(opacity=50);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.p-emergente {
  padding-bottom: 1em;
}

.mensaje-emergente {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #393939;
  color: #00D5FF;
  border-radius: 20px;
  text-align: center;
  padding: 2em;
  width: 400px;
  height: 400px;
  font-size: 2em;
  z-index: 11;
  top: 50%;
  left: 44%;
  margin-left: -100px;
  margin-top: -100px;
}
@media only screen and (max-width: 600px) {
  .mensaje-emergente {
    margin-left: -150px;
    width: 85%;
  }
}