/*
font-family: 'Roboto', sans-serif;
font-weight: 300;
font-weight: 400;
font-weight: 900;
*/
body {
  background-color: #000;
  max-width: 100%;
}

.row {
  --bs-gutter-x: 0rem;
}

.container-fluid {
  padding: 0em;
}

.logo-container {
  text-decoration: none;
}

.logo {
  width: 10em;
  margin-right: 2em;
}
@media only screen and (max-width: 600px) {
  .logo {
    width: 18em;
    margin-left: 1em;
  }
}

@media only screen and (max-width: 600px) {
  header {
    background: url(../imgs/main_img2.jpg);
  }
}

.hamburger-container {
  margin: 2em;
  cursor: pointer;
  display: none;
  width: 2em;
  position: absolute;
  z-index: 2;
}
@media only screen and (max-width: 600px) {
  .hamburger-container {
    display: inline-block;
  }
}

.hamburger {
  width: 45px;
  height: 4px;
  background-color: #00D5FF;
  margin: 10px 0;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 10px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -11px);
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #393939;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 40px;
  border-radius: 0 55px 55px 0;
}
@media only screen and (min-width: 480px) {
  .sidebar {
    display: none;
  }
}
.sidebar a {
  padding: 0.1em 1.8em 0.1em 1em;
  text-decoration: none;
  color: #000;
  margin: 1em 2em 1.5em 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 2.2em;
  background: #FF8036;
  border-radius: 0 30px 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sidebar img {
  width: 13em;
  margin: 0 0 2em 6em;
  -webkit-transition: 1s;
  transition: 1s;
}

.nav-container {
  margin: 1em 0 0.2em 0;
  padding: 0em;
}
@media only screen and (max-width: 600px) {
  .nav-container {
    margin-top: 0;
    padding-top: 7em;
  }
}

.top-nav {
  text-decoration: none;
  color: #fff;
  margin: 0 2.5em;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.3em;
}
.top-nav:hover {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  color: #FF8036;
  text-decoration: underline;
}
@media only screen and (max-width: 600px) {
  .top-nav {
    display: none;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1350px) {
  .top-nav {
    margin: 0 1em;
  }
}

.selected-nav {
  color: #FF8036;
}

.text-field {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  border: 3px solid #707070;
  padding-left: 4px;
  width: 9em;
  margin: 1em 0 0 0;
  float: left;
}
.text-field:focus {
  border: 3px solid #00D5FF;
  outline: none;
}
@media only screen and (max-width: 600px) {
  .text-field {
    display: none;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1350px) {
  .text-field {
    width: 6em;
  }
}

.btn-buscar {
  background-color: #393939;
  background: url(../imgs/icono_buscar.png);
  border: 3px solid #707070;
  border-radius: 13px;
  width: 65px;
  height: 65px;
  margin-left: 1em;
}
.btn-buscar:hover {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  border: 3px solid #00D5FF;
}
@media only screen and (max-width: 600px) {
  .btn-buscar {
    margin: -80px 0 0 0;
    left: 21em;
    border: 0;
    width: 57px;
    height: 62px;
    position: absolute;
  }
}

.h1-torneos {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding-top: 1em;
  margin-bottom: 0;
}

.line {
  width: 70px;
  height: 1px;
  padding: 0;
  margin: auto;
  background: #00D5FF;
  display: block;
  margin-top: 0.2em;
  margin-bottom: 3em;
}

.container-torneos {
  background: url(../imgs/main_img.jpg);
  width: 100%;
  display: block;
  padding-bottom: 4em;
}
@media only screen and (max-width: 600px) {
  .container-torneos {
    background: none;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1350px) {
  .container-torneos {
    height: 100%;
  }
}

.photos-container {
  width: 100%;
}

.image-size {
  width: 100%;
  display: block;
  position: relative;
  height: 160px;
}

.image-container {
  margin: 0 2em 2.5em 2em;
  position: relative;
  display: block;
  background-color: #393939;
  border-radius: 1em;
  padding: 0em;
  width: 253px;
}

.title {
  margin: 0 0 0.5em 1em;
  padding: 0.5em 0 0 0;
  font-weight: 900;
  font-size: 1.4em;
  color: #FF8036;
}

.description {
  position: relative;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1em;
  margin: 1em;
  padding: 0em;
  color: #fff;
}

.btn-vermas {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #393939;
  background-color: #FF8036;
  margin: 0.2em 0 1em 0;
  width: 110px;
  height: 40px;
  padding: 7px;
  border-radius: 20px;
}
.btn-vermas:hover {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  background-color: #fff;
}

footer {
  padding-top: 0.4em;
  padding-bottom: 0.5em;
  background-color: #393939;
}

.footer-logo {
  width: 10em;
  position: absolute;
  margin: 1.4em 0 0 1.5em;
}
@media only screen and (max-width: 600px) {
  .footer-logo {
    display: none;
  }
}

.footer-p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0.4em;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .footer-p {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}