@import 'media-queries';
@import 'vars';

//header
header{
    @include respond-to($phone) {
        background: url(../imgs/catan_movil_details.jpg);
    }
}

//logo del juego
.logo-catan{
    width: 15em;
    margin-left: 15em;
    @include respond-to($phone) {
        margin-left: 5.5em;
    }
}

//contenedor de informacion
.main-container{
    background: url(../imgs/catan2.jpg);
    width: 100%;
    display: block;
    padding-bottom: 3em;
    object-fit: cover;
    transition: all ease .5s;
    @include respond-to($phone) {
        background: none;
    }
    @include respond-to($tablet-landscape) {
        padding-bottom: 13em;
    }
}

.text-container{
    width: 65em;
    position: relative;
    background-color: $gray;
    border-radius: 1em;
    padding: 1em 1.5em;
    @include respond-to($phone) {
        width: 85%;
        padding: 1em 1em;
    }
}

.h1-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: $turquesa;
    font-size: 1.5em;
}

//boton
.big-btn{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: $gray;
    background-color: $naranja;
    margin: 3em 0 1em 0;
    width: 150px;
    height: 60px;
    padding: 13px;
    border-radius: 25px;
    &:hover{
        transition: all ease .5s;
        background-color: $white;
    }
}

//ingreso de datos
.datos-container{
    width: 30em;
    position: relative;
    background-color: $gray;
    border-radius: 1em;
    padding: 2em 7em;
    @include respond-to($phone) {
        width: 85%;
        padding: 2em 2em;
    }
}
.datos-text-field{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    border: 3px solid $lightgray;
    padding-left: 4px;
    width: 15em;
    margin: 3em 0 0 0;
    float: left;
    &:focus{
        border: 3px solid $turquesa;
        outline: none;
    }
}

//torneos relacionados
.relacionados-container{
    background: #141414;
}
.torneos-relacionados{
    color: $white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-top: 1em;
    margin-bottom: 0;
}

//confirmacion

.cubierta-emergente {
    background-color: #000;
    opacity: .4;
    filter: alpha(opacity=50);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.p-emergente{
    padding-bottom: 1em;
}

.mensaje-emergente {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: $gray;
    color: $turquesa;
    border-radius: 20px;
    text-align: center;
    padding: 2em;
    width: 400px;
    height: 400px;
    font-size: 2em;
    z-index: 11;
    top: 50%;
    left: 44%;
    margin-left: -100px;
    margin-top: -100px;
    @include respond-to($phone) {
        margin-left: -150px;
        width: 85%;
    }
    @include respond-to($tablet-landscape) {
        margin-left: -155px;
    }
}

//verificacion de datos
.error_msg{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: $naranja;
    text-align: center;
}